html {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif; 
}

input, button, textarea, select {
    font-family: inherit;
}

body {
    background-color: #1E201E;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    margin: 50px 12px;
}
section {
    margin: 10px;
}
.derechadsc {
    background-color: #3C3D37; 
    width: 300px; 
    height: 500px;
    border: 1px solid #c7c2be; /* Borde añadido */
    border-radius: 20px; 
    padding: 10px;
    text-align: center;
}

    
.imagendsc {
    width: 55px;
    border: 2px; 
    border-radius: 40px;
    padding: 40px;
    margin: 30px;
    background-color: #1E201E;
}
.izquierdadsc {
    background-color: #3C3D37; 
    width: 800px; 
    height: 1400px;
    border: 1px solid #e0dad6; /* Borde añadido */
    border-radius: 20px; 
    padding: 5px;
    text-align: center;
}
h2 {
    color: #ECDFCC;
}

hr {
border-color: #A27B5C;
    }


.icons{
    display: flex;
    flex-direction: column;
    gap: 15px;               
    align-items: flex-start;
    text-align: left;
    padding: 20px 20px;
    }
.icons a{
    color: #ECDFCC;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 12px;              
    padding: 8px;            
    border-radius: 8px;      
    width: 100%;             
}

.icon-container {
    background-color: #1E201E;    
    width: 35px;                  
    height: 35px;                
    border-radius: 8px;           
    display: flex;                
    align-items: center;          
    justify-content: center;      
    flex-shrink: 0;              
}

 .icon-container i {
    color: #A27B5C;              
    font-size: 16px;             
}

 .text-container {
    color: #ECDFCC;              
    font-size: 14px;             
}

.navbar {
    border: 1px solid #b6b0ab;
    max-width: 320px;
    border-radius: 10px;
    padding: 10px 10px;
    margin-left: auto;
  }

.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.nav-list li a {
    color: #ECDFCC;
    text-decoration: none;
    padding: 5px 16px;
    border-radius: 5px;
    font-size: 14px;
}


/* CONTAINER ABOUT ME */
.about-container {
    text-align: left;
    padding: 30px;
    color: #ECDFCC;
    font-family: sans-serif;
}

.a-title {
    font-size: 28px;
    font-weight: bold;
    color: #ECDFCC;
}

.a-line {
    width: 40px;
    height: 4px;
    background-color: #F5C36A;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.a-paragraph {
    color: #cfcfcf;
    font-size: 15px;
    line-height: 1.8;
    margin-bottom: 16px;
}


/* CONTAINER EDUCATION */
.education-container {
    text-align: left;
    padding: 30px;
    color: #ECDFCC;
    font-family: sans-serif;
}

.e-title {
    font-size: 28px;
    font-weight: bold;
    color: #ECDFCC;
}

.e-line {
    width: 40px;
    height: 4px;
    background-color: #F5C36A;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.e-item {
    margin-bottom: 20px;
}

.e-degree {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 5px;
}

.e-years {
    display: block;
    font-size: 14px;
    color: #F5C36A;
    margin-bottom: 5px;
}

.e-place {
    font-size: 15px;
    color: #cfcfcf;
}



/* CONTAINER CONTACT */

.contact-container {
    text-align: left;
    padding: 30px;
    color: #ECDFCC;
    font-family: sans-serif;
}

.c-title {
    font-size: 28px;
    font-weight: bold;
    color: #ECDFCC;
}

.c-line {
    width: 40px;
    height: 4px;
    background-color: #F5C36A;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-field {
    background-color: #2C2E2B;
    border: 2px solid #4B4D48;
    border-radius: 8px;
    padding: 14px 18px;
    color: #ECDFCC;
    font-size: 16px;
    font-weight: 500;
    resize: none; 
}

.send-button {
    background-color: #F5C36A;
    color: #1E201E;
    font-weight: bold;
    padding: 14px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    
}

